*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #fff4f7,
        #f8f3ff
    );
    color:#333;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:1.5rem;
    font-weight:700;
    color:#ff5c8d;
}

.login-btn{
    text-decoration:none;
    padding:12px 24px;
    background:#ff5c8d;
    color:white;
    border-radius:50px;
    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(255,92,141,.25);
}

/* HERO */

.hero{
    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8%;
    gap:60px;
}

.hero-content{
    flex:1;
}

.tag{
    display:inline-block;
    background:#ffe0eb;
    color:#ff4f88;
    padding:10px 18px;
    border-radius:30px;
    font-size:.9rem;
    margin-bottom:25px;
}

.hero-content h1{
    font-size:4rem;
    line-height:1.1;
    margin-bottom:20px;
}

.hero-content p{
    font-size:1.1rem;
    color:#666;
    max-width:550px;
    line-height:1.7;
    margin-bottom:35px;
}

.buttons{
    display:flex;
    gap:15px;
}

.primary-btn,
.secondary-btn{
    text-decoration:none;
    padding:15px 30px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.primary-btn{
    background:#ff5c8d;
    color:white;
}

.secondary-btn{
    background:white;
    color:#444;
}

.primary-btn:hover,
.secondary-btn:hover{
    transform:translateY(-3px);
}

/* RIGHT SIDE */

.hero-card{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.task-card{
    background:white;
    padding:25px;
    border-radius:25px;
    box-shadow:0 20px 40px rgba(0,0,0,.06);
}

.partner{
    margin-left:60px;
}

.task-card h3{
    margin-bottom:20px;
    color:#ff5c8d;
}

.task{
    padding:12px;
    background:#fafafa;
    border-radius:12px;
    margin-bottom:12px;
}

.completed{
    background:#e7fff0;
    color:#2f9c61;
}

.status{
    margin-top:15px;
    font-weight:600;
}

/* RESPONSIVE */

@media(max-width:900px){

    .hero{
        flex-direction:column;
        text-align:center;
        padding:30px;
    }

    .hero-content h1{
        font-size:2.8rem;
    }

    .buttons{
        justify-content:center;
    }

    .partner{
        margin-left:0;
    }
}